/* .parent{
    display: flex;
    flex-wrap: wrap;
    
} */

.card{
    width: 20rem;
    border : 0.2rem solid black;  
    padding: 1rem; 
    margin: 1rem;
    text-align: center;  
    background-color: rgb(174, 174, 174);
    border-radius: 1rem;
}


.card img {
    width: 7rem;
    height: 7rem;
    border-radius:50%;
    padding: 0.2rem;
}

.card button {

    margin: 0.4rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    font-weight: bold;
    
}